<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			.panel-body {
				padding: 5px 0px;
			}
			.profile-info-row {
				padding-left: 0px;
				padding-right: 0px;
			}
		</style>
	</head>
	<body>
		<div class="page-content" style="margin-bottom: 50px; min-height: 800px;">
			<input type="hidden" name="hideOid" id="hideOid" th:value="${orderInfo.oid}" />
			<div class="row" id="">
				<div class="col-xs-6 col-sm-6 col-md-6">
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6" style="padding-bottom: 5px;">
					<button th:onclick="toEnquiry([[${orderInfo.oid}]])" class="btn btn-mini btn-primary">新增询价 </button>
					<button th:onclick="toQuotation([[${orderInfo.oid}]])" class="btn btn-mini btn-primary">报价单 </button>
					<button th:onclick="toBidder([[${orderInfo.oid}]])" class="btn btn-mini btn-primary">新增竞标方 </button>
					<button th:onclick="toDeposit([[${orderInfo.oid}]], null)" class="btn btn-mini btn-primary">新增保证金 </button>
					<button th:onclick="toContract([[${orderInfo.oid}]])" class="btn btn-mini btn-primary">合同 </button>
					<button th:onclick="toSupplycontract([[${orderInfo.oid}]], null)" class="btn btn-mini btn-primary">新增供应合同 </button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-11 col-sm-11 col-md-11">
					<div id="accordion" class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="accordion-toggle bolder" data-toggle="collapse" href="#collapseOne">
									<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
									&nbsp;订单基本信息 <span style="color: #B7B7B7;font-size: 12px;">(点击此处可收起)</span> 
								</a>
							</div>

							<div class="panel-collapse collapse in" id="collapseOne">
								<div class="panel-body">
									<div class="profile-user-info profile-user-info-striped">
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 项目名称 </div>
											<div class="profile-info-value">
												<span class="" id="projectName" th:text="${orderInfo?.projectName}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 时间 </div>
											<div class="profile-info-value">
												<span class="" id="otime" th:text="${#dates.format(orderInfo?.ctime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 客户 </div>
											<div class="profile-info-value">
												<span class="" id="customerText" th:text="${orderInfo?.customerText}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 区域 </div>
											<div class="profile-info-value">
												<span class="" id="areaText" th:text="${orderInfo?.areaText}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 中标方 </div>
											<div class="profile-info-value">
												<span class="" id="bidderZText" th:text="${orderInfo?.bidderZText}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 来源 </div>
											<div class="profile-info-value">
												<span class="" id="source" th:text="${orderInfo?.source}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 中标金额 </div>
											<div class="profile-info-value">
												<span class="" id="bidAmount" th:text="${orderInfo?.bidAmount}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 明细 </div>
											<div class="profile-info-value">
												<span class="" id="bidDetail" th:text="${orderInfo?.bidDetail}"></span>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 profile-info-row">
											<div class="profile-info-name"> 备注 </div>
											<div class="profile-info-value">
												<span class="" id="remark" th:text="${orderInfo?.remark}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="accordion-toggle collapsed bolder" data-toggle="collapse" href="#collapseEnquiry">
									<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
									&nbsp;询价信息<span style="color: #B7B7B7;font-size: 12px;">(点击此处可收起)</span>
								</a>
							</div>
						
							<div class="panel-collapse collapse in" id="collapseEnquiry">
								<div class="panel-body">
									<div id="enquiry-list" style="padding: 2px 12px;">
										<table id="enquiry-table" class="table table-bordered table-hover">
											<thead>
												<tr>
													<th>供应商</th>
													<th>总价</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="enquiry-tbody">
												<tr th:each="enquiry, state: ${orderInfo.enquiries}">
													<td th:text="${enquiry.supplierName}"></td>
													<td th:text="${enquiry.total}"></td>
													<td>
														<button th:onclick="showEnquiryDetail([[${enquiry.eid}]])" class="btn btn-info btn-mini">明细</button>
														<button th:onclick="delEnquiry([[${enquiry.oid}]], [[${enquiry.eid}]])" class="btn btn-white btn-danger btn-mini">删除</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="accordion-toggle collapsed bolder" data-toggle="collapse" href="#collapseQuotation">
									<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
									&nbsp;报价单<span style="color: #B7B7B7;font-size: 12px;">(点击此处可收起)</span>
								</a>
							</div>
						
							<div class="panel-collapse collapse in" id="collapseQuotation">
								<div class="panel-body">
									<div id="quotationInfo" class="profile-user-info profile-user-info-striped">
										<div th:if="${orderInfo.quotation?.customerAnnexPath}" class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 报价单<small>(发客户)</small> </div>
											<div class="profile-info-value">
												<!-- <span class="" id="customerAnnexName" th:text="${orderInfo.quotation.customerAnnexName}"></span> -->
												<p th:onclick="toDownloadQuotationAnnex([[${orderInfo.quotation.customerAnnexPath}]])" style="color: #007DDB;cursor: pointer;" title="点击下载" th:text="${orderInfo.quotation.customerAnnexName}"></p>
											</div>
										</div>
										<div th:if="${orderInfo.quotation?.selfAnnexPath}" class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 明细<small>(自留)</small> </div>
											<div class="profile-info-value">
												<!-- <span class="" id="selfAnnesName" th:text="${orderInfo.quotation.selfAnnesName}"></span> -->
												<p th:onclick="toDownloadQuotationAnnex([[${orderInfo.quotation.selfAnnexPath}]])" style="color: #007DDB;cursor: pointer;" title="点击下载" th:text="${orderInfo.quotation.selfAnnexName}"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="accordion-toggle collapsed bolder" data-toggle="collapse" href="#collapseBidder">
									<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
									&nbsp;竞标参与方<span style="color: #B7B7B7;font-size: 12px;">(点击此处可收起)</span>
								</a>
							</div>
							<div class="panel-collapse collapse in" id="collapseBidder">
								<div class="panel-body">
									<div id="bidder-list" style="padding: 2px 12px;">
										<table id="bidder-table" class="table table-bordered table-hover">
											<thead>
												<tr>
													<th>竞标参与方</th>
													<th>总价</th>
													<th></th>
												</tr>
											</thead>
											<div th:if="${!#lists.isEmpty(orderInfo.bidders)}">
												<tbody id="bidder-tbody">
													<tr th:each="bidder, state: ${orderInfo.bidders}">
														<td th:text="${bidder?.corporateName}"></td>
														<td th:text="${bidder?.total}"></td>
														<td>
															<!-- <button th:onclick="showBidderDetail([[${bidder?.bid}]])" class="btn btn-info btn-mini">明细</button> -->
															<button th:onclick="delBidder([[${bidder?.oid}]], [[${bidder?.bid}]])" class="btn btn-white btn-danger btn-mini">删除</button>
														</td>
													</tr>
												</tbody>
											</div>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="accordion-toggle collapsed bolder" data-toggle="collapse" href="#collapseDeposit">
									<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
									&nbsp;投标保证金<span style="color: #B7B7B7;font-size: 12px;">(点击此处可收起)</span>
								</a>
							</div>
							<div class="panel-collapse collapse in" id="collapseDeposit">
								<div class="panel-body">
									<div id="deposit-list" style="padding: 2px 12px;">
										<table id="deposit-table" class="table table-bordered table-hover">
											<thead>
												<tr>
													<th>#</th>
													<th>订单项目</th>
													<th>缴纳方</th>
													<th>出资方</th>
													<th>金额</th>
													<th>缴纳日期</th>
													<th>是否收回</th>
													<th>收回日期</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="deposit-tbody">
												<tr th:each="depo, state: ${orderInfo.deposits}">
													<td th:text="${state.index+1}"></td>
													<td th:text="${depo.orderInfo?.projectName}"></td>
													<td th:text="${depo?.payerName}"></td>
													<td th:text="${depo?.providerName}"></td>
													<td th:text="${depo?.amount}"></td>
													<td th:text="${depo?.payDate}"></td>
													<td th:text="${#strings.equals(depo.isBack, '0') ? '未收回' : '已收回'}"></td>
													<td th:text="${depo?.backDate}"></td>
													<td>
														<button th:onclick="toDeposit([[${depo?.oid}]], [[${depo?.did}]])" class="btn btn-info btn-mini">修改</button>
														<button th:onclick="delDeposit([[${depo?.oid}]], [[${depo?.did}]])" class="btn btn-white btn-danger btn-mini">删除</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="accordion-toggle bolder" data-toggle="collapse" href="#collapseContract">
									<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
									&nbsp;合同信息 <span style="color: #B7B7B7;font-size: 12px;">(点击此处可收起)</span> 
								</a>
							</div>
						
							<div class="panel-collapse collapse in" id="collapseContract">
								<div class="panel-body">
									<div th:if="${orderInfo.contract}" class="profile-user-info profile-user-info-striped">
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 合同名称 </div>
											<div class="profile-info-value">
												<span class="" th:text="${orderInfo.contract.cname}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 合同号 </div>
											<div class="profile-info-value">
												<span class="" th:text="${orderInfo.contract.cno}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 合同金额 </div>
											<div class="profile-info-value">
												<span class="" th:text="${orderInfo.contract.amount}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 工程名称 </div>
											<div class="profile-info-value">
												<span class="" th:text="${orderInfo.contract.pname}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 签订日期 </div>
											<div class="profile-info-value">
												<span class="" th:text="${orderInfo.contract.signDate}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 附件 </div>
											<div class="profile-info-value">
												<span th:onclick="toDownloadContractAnnex([[${orderInfo.contract.annexPath}]])" style="color: #007DDB;cursor: pointer;" title="点击下载"  th:text="${orderInfo.contract.annexName}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 甲方 </div>
											<div class="profile-info-value">
												<span class="" th:text="${orderInfo.contract.partya}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 乙方 </div>
											<div class="profile-info-value">
												<span class="" th:text="${orderInfo.contract.partyb}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 使用方 </div>
											<div class="profile-info-value">
												<span class="" th:text="${orderInfo.contract.partyu}"></span>
											</div>
										</div>
										
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 执行方 </div>
											<div class="profile-info-value">
												<span class="" th:text="${orderInfo.contract.partyz}"></span>
											</div>
										</div>
									</div>
									<div class="panel panel-default" style="margin: 5px 12px;">
										<div class="panel-heading">
											<a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseCP">
												<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
												&nbsp;合同款项信息 <span style="color: #B7B7B7;font-size: 12px;">(点击此处可收起)</span> 
											</a>
											<span th:if="${orderInfo.contract}" class="pull-right">
												<button th:onclick="toPayment([[${orderInfo.contract.cid}]], null)" type="button" class="btn btn-mini btn-primary">添加合同款项</button>
											</span>
										</div>
										<div class="panel-collapse collapse in" id="collapseCP">
											<div class="panel-body">
												<div id="payment-div" style="padding: 2px 12px;">
													<table id="payment-table" class="table table-bordered table-hover">
														<thead>
															<tr>
																<th>款项</th>
																<th>金额</th>
																<th>应回日期</th>
																<th>备注</th>
																<th>回款金额</th>
																<th>回款日期</th>
																<th>票据</th>
																<th>回款说明</th>
																<th></th>
															</tr>
														</thead>
														<tbody id="payment-tbody">
															<tr th:each="payment, state: ${orderInfo.contract?.payments}">
																<td th:text="${payment.payName}"></td>
																<td th:text="${payment.amount}"></td>
																<td th:text="${payment.expectedDate}"></td>
																<td th:text="${payment.expectedRemark}"></td>
																<td th:text="${payment.payAmount}"></td>
																<td th:text="${payment.payDate}"></td>
																<td>
																	<span th:onclick="toDownloadContractPaymentAnnex([[${payment.billPath}]])" style="color: #007DDB;cursor: pointer;" title="点击下载" th:text="${payment.billName}"></span>
																</td>
																<td th:text="${payment.remark}"></td>
																<td>
																	<button th:onclick="toPayment([[${payment.cid}]], [[${payment.pid}]])" class="btn btn-primary btn-mini">修改</button>
																	<button th:onclick="delContractpayment([[${payment.cid}]], [[${payment.pid}]])" class="btn btn-danger btn-white btn-mini">删除</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div th:each="supplycontract, state: ${orderInfo.supplycontracts}" class="panel panel-default">
							<div class="panel-heading">
								<a class="accordion-toggle bolder" data-toggle="collapse" th:href="'#collapseSupplycontract'+${state.index+1}">
									<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
									<span th:text="'供应合同'+${state.index+1}+'-'+${supplycontract.cname}"></span> <span style="color: #B7B7B7;font-size: 12px;">(点击此处可收起)</span> 
								</a>
								<span class="pull-right">
									<button th:onclick="toSupplycontract([[${supplycontract.oid}]], [[${supplycontract.scid}]])" type="button" class="btn btn-mini btn-primary">修改供应合同</button>
								</span>
							</div>
						
							<div class="panel-collapse collapse in" th:id="'collapseSupplycontract'+${state.index+1}">
								<div class="panel-body">
									<div class="profile-user-info profile-user-info-striped">
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 合同名称 </div>
											<div class="profile-info-value">
												<span class="" th:text="${supplycontract.cname}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 合同号 </div>
											<div class="profile-info-value">
												<span class="" th:text="${supplycontract.cno}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 合同金额 </div>
											<div class="profile-info-value">
												<span class="" th:text="${supplycontract.amount}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 签订日期 </div>
											<div class="profile-info-value">
												<span class="" th:text="${supplycontract.signDate}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 甲方 </div>
											<div class="profile-info-value">
												<span class="" th:text="${supplycontract.partya}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 乙方 </div>
											<div class="profile-info-value">
												<span class="" th:text="${supplycontract.partyb}"></span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 profile-info-row">
											<div class="profile-info-name"> 附件 </div>
											<div class="profile-info-value">
												<span th:onclick="toDownloadSupplycontractAnnex([[${supplycontract.annexPath}]])" style="color: #007DDB;cursor: pointer;" title="点击下载"  th:text="${supplycontract.annexName}"></span>
											</div>
										</div>
									</div>
									<div class="panel panel-default" style="margin: 5px 12px;">
										<div class="panel-heading">
											<a class="accordion-toggle collapsed" data-toggle="collapse" th:href="'#collapseSCP'+${state.index+1}">
												<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
												&nbsp;付款记录 <span style="color: #B7B7B7;font-size: 12px;">(点击此处可收起)</span> 
											</a>
											<span class="pull-right">
												<button th:onclick="toSupplycontractPayment([[${supplycontract.scid}]], null)" type="button" class="btn btn-mini btn-primary">添加付款记录</button>
											</span>
										</div>
										<div class="panel-collapse collapse in" th:id="'collapseSCP'+${state.index+1}">
											<div class="panel-body">
												<div id="scpayment-div" style="padding: 2px 12px;">
													<table id="scpayment-table" class="table table-bordered table-hover">
														<thead>
															<tr>
																<th>金额</th>
																<th>支付日期</th>
																<th>支付方式</th>
																<th>支付主体</th>
																<th>票据</th>
																<th>备注</th>
																<th></th>
															</tr>
														</thead>
														<tbody th:id="'payment-tbody'+${supplycontract.scid}">
															<tr th:each="payment, state: ${supplycontract.payments}">
																<td th:text="${payment.amount}"></td>
																<td th:text="${payment.payDate}"></td>
																<td th:text="${payment.payMode}"></td>
																<td th:text="${payment.payCorporate}"></td>
																<td>
																	<span th:onclick="toDownloadSupplycontractPaymentAnnex([[${payment.billPath}]])" style="color: #007DDB;cursor: pointer;" title="点击下载" th:text="${payment.billName}"></span>
																</td>
																<td th:text="${payment.remark}"></td>
																<td>
																	<button th:onclick="toSupplycontractPayment([[${payment.scid}]], [[${payment.pid}]])" class="btn btn-primary btn-mini">修改</button>
																	<button th:onclick="delSupplycontractPayment([[${payment.scid}]], [[${payment.pid}]])" class="btn btn-danger btn-white btn-mini">删除</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footBtn">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-5 col-sm-5 col-md-5"></div>
					<div class="">
						<button class="btn btn-white btn-default" onclick="closeOpen()"> 关 &nbsp; 闭</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 用来展示报价明细条目列表的 -->
		<div id="enquiryDetail" style="display: none;">
			<table id="enquiryDetail-table" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>供应商</th>
						<th>产品名称</th>
						<th>物料编码</th>
						<th>规格型号</th>
						<th>单位</th>
						<th>数量</th>
						<th>单价</th>
						<th>总价</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody id="enquiryDetail-tbody"></tbody>
			</table>
		</div>
		<script>
			var subopenid;
			$(function() {
			});
			// 去新增询价
			function toEnquiry(oid) {
				postRequest($('#contextDiv').html() + '/orderHandle/toEnquiry/' + oid, {}, function(data) {
					subopenid = layer.open({
						type: 1,
						// skin: 'layui-layer-rim', //加上边框
						title: '审核订单',
						area: ['90%', '80%'], //宽高
						content: data
					})
				})
			}
			// 查看报价明细
			function showEnquiryDetail(eid) {
				postRequest($('#contextDiv').html() + '/enquiry/enquiryDetail/list', {eid:eid}, function(data) {
					$('#enquiryDetail-tbody').html(data)
					layer.open({
					  type: 1,
					  skin: 'layui-layer-rim', //加上边框
					  area: ['80%', '60%'], //宽高
					  content: $('#enquiryDetail').prop('outerHTML').replace("display: none;", "")
					});
				})
			}
			// 去维护报价单
			function toQuotation(oid) {
				postRequest($('#contextDiv').html() + '/quotation/toEdit', {oid: oid}, function(data) {
					subopenid = layer.open({
						type: 1,
						// skin: 'layui-layer-rim', //加上边框
						title: '报价单',
						area: ['70%', '60%'], //宽高
						content: data
					})
				})
			}
			// 去新增竞标方
			function toBidder(oid) {
				postRequest($('#contextDiv').html() + '/bidder/toEdit', {oid: oid}, function(data) {
					subopenid = layer.open({
						type: 1,
						// skin: 'layui-layer-rim', //加上边框
						title: '竞标方',
						area: ['70%', '60%'], //宽高
						content: data
					})
				})
			}
			// 去保证金
			function toDeposit(oid, did) {
				postRequest($('#contextDiv').html() + '/deposit/toEdit', {oid: oid, did: did}, function(data) {
					subopenid = layer.open({
						type: 1,
						// skin: 'layui-layer-rim', //加上边框
						title: '保证金',
						area: ['60%', '80%'], //宽高
						content: data
					})
				})
			}
			// 合同
			function toContract(oid) {
				postRequest($('#contextDiv').html() + '/contract/toEdit', {oid: oid}, function(data) {
					subopenid = layer.open({
						type: 1,
						// skin: 'layui-layer-rim', //加上边框
						title: '合同信息',
						area: ['60%', '80%'], //宽高
						content: data
					})
				})
			}
			// 合同-款项
			function toPayment(cid, pid) {
				postRequest($('#contextDiv').html() + '/contract/payment/toEdit', {cid:cid, pid:pid}, function(data) {
					subopenid = layer.open({
						type: 1,
						// skin: 'layui-layer-rim', //加上边框
						title: '合同款项',
						area: ['60%', '80%'], //宽高
						content: data
					})
				})
			}
			// 去新增供应合同
			function toSupplycontract(oid, scid) {
				postRequest($('#contextDiv').html() + '/supplycontract/toEdit', {oid:oid, scid:scid}, function(data) {
					subopenid = layer.open({
						type: 1,
						// skin: 'layui-layer-rim', //加上边框
						title: '供应合同',
						area: ['60%', '80%'], //宽高
						content: data
					})
				})
			}
			// 去付款记录
			function toSupplycontractPayment(scid, pid) {
				postRequest($('#contextDiv').html() + '/supplycontract/payment/toEdit', {scid:scid, pid:pid}, function(data) {
					subopenid = layer.open({
						type: 1,
						// skin: 'layui-layer-rim', //加上边框
						title: '供应合同付款记录',
						area: ['60%', '80%'], //宽高
						content: data
					})
				})
			}
			
			// 下载报价单或报价明细单
			function toDownloadQuotationAnnex (annexId) {
				window.location.href = $('#contextDiv').html() + '/quotation/downloadAnnex/'+ annexId
			}
			// 下载合同电子档
			function toDownloadContractAnnex (annexId) {
				window.location.href = $('#contextDiv').html() + '/contract/downloadAnnex/'+ annexId
			}
			// 下载款项票据附件
			function toDownloadContractPaymentAnnex (annexId) {
				window.location.href = $('#contextDiv').html() + '/contract/payment/downloadAnnex/'+ annexId
			}
			// 供应合同附件
			function toDownloadSupplycontractAnnex (annexId) {
				window.location.href = $('#contextDiv').html() + '/supplycontract/downloadAnnex/'+ annexId
			}
			// 供应合同付款票据附件
			function toDownloadSupplycontractPaymentAnnex (annexId) {
				window.location.href = $('#contextDiv').html() + '/supplycontract/payment/downloadAnnex/'+ annexId
			}
			
			
			// 关闭详情窗口打开的子窗口
			function closeSubWindow() {
				layer.close(subopenid);
			}
			// 询价删除
			function delEnquiry(oid, eid) {
				layer.confirm('确定删除此条询价信息？', {
					btn: ['确定', '取消'] //按钮
				}, function() {
					postRequest($('#contextDiv').html() + '/enquiry/del/' + eid, {}, function(data) {
						if (data.result) {
							layer.msg('操作成功')
							loadEnquiry(oid)
						} else {
							layer.msg(data.message)
						}
					})
				})
			}
			// 询价重新加载
			function loadEnquiry(oid) {
				postRequest($('#contextDiv').html() + '/enquiry/list', {oid:oid}, function(data) {
					$('#enquiry-tbody').html(data)
				})
			}
			// 询价重新加载
			function loadQuotation(oid) {
				postRequest($('#contextDiv').html() + '/quotation/info', {oid:oid}, function(data) {
					$('#quotationInfo').html(data)
				})
			}
			// 删除竞标参与方
			function delBidder(oid, bid) {
				layer.confirm('确定删除此竞标参与方？', {
					btn: ['确定', '取消'] //按钮
				}, function() {
					postRequest($('#contextDiv').html() + '/bidder/del/' + bid, {}, function(data) {
						if (data.result) {
							layer.msg('操作成功')
							loadBidders(oid)
						} else {
							layer.msg(data.message)
						}
					})
				})
			}
			// 竞标参与方重新加载
			function loadBidders(oid) {
				postRequest($('#contextDiv').html() + '/bidder/list', {oid:oid}, function(data) {
					$('#bidder-tbody').html(data)
				})
			}
			// 删除投标保证金
			function delDeposit(oid, did) {
				layer.confirm('确定删除此条保证金记录吗？', {
					btn: ['确定', '取消'] //按钮
				}, function() {
					postRequest($('#contextDiv').html() + '/deposit/del/' + did, {}, function(data) {
						if (data.result) {
							layer.msg('操作成功')
							loadDeposits(oid)
						} else {
							layer.msg(data.message)
						}
					})
				})
			}
			// 投标保证金重新加载
			function loadDeposits(oid) {
				postRequest($('#contextDiv').html() + '/deposit/list', {oid:oid}, function(data) {
					$('#deposit-tbody').html(data)
				})
			}
			// 删除合同款项
			function delContractpayment(cid, pid) {
				layer.confirm('确定删除此条合同款项吗？', {
					btn: ['确定', '取消'] //按钮
				}, function() {
					postRequest($('#contextDiv').html() + '/contract/payment/del/' + pid, {}, function(data) {
						if (data.result) {
							layer.msg('操作成功')
							loadContractpayment(cid)
						} else {
							layer.msg(data.message)
						}
					})
				})
			}
			// 合同款项重新加载
			function loadContractpayment(cid) {
				postRequest($('#contextDiv').html() + '/contract/payment/list', {cid:cid}, function(data) {
					$('#payment-tbody').html(data)
				})
			}
			// 删除供应合同付款记录
			function delSupplycontractPayment(scid, pid) {
				layer.confirm('确定删除此条供应合同付款记录吗？', {
					btn: ['确定', '取消'] //按钮
				}, function() {
					postRequest($('#contextDiv').html() + '/supplycontract/payment/del/' + pid, {}, function(data) {
						if (data.result) {
							layer.msg('操作成功')
							loadSupplycontractpayment(scid)
						} else {
							layer.msg(data.message)
						}
					})
				})
			}
			// 投标保证金重新加载
			function loadSupplycontractpayment(scid) {
				postRequest($('#contextDiv').html() + '/supplycontract/payment/list', {scid:scid}, function(data) {
					$('#payment-tbody'+scid).html(data)
				})
			}
		</script>
	</body>
</html>
