<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			.footBtn {
			position: absolute;
			bottom: 10px;
			width: 100%;
		}
	</style>
	</head>
	<body>
		<div class="page-content" style="margin-bottom: 50px;">
			<div class="row">
				<div class="col-xs-12">
					<form id="passwordForm" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="opwd">原密码:</label>
							<div class="col-sm-9">
								<input type="password" id="opwd" name="opwd" placeholder=""
								 class="form-control" autocomplete="new-password" maxlength="30" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="npwd">新密码:</label>
							<div class="col-sm-9">
								<input type="password" id="npwd" name="npwd" placeholder=""
								 class="form-control" autocomplete="new-password" maxlength="30" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="npwd1">确认新密码:</label>
							<div class="col-sm-9">
								<input type="password" id="npwd1" name="npwd1" placeholder=""
								 class="form-control" autocomplete="new-password" maxlength="30" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footBtn">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="9">
						<button id="saveBtn" class="btn btn-info btn-sm" onclick="saveInfo()">确定</button>&nbsp;&nbsp;&nbsp;
						<button class="btn btn-sm" onclick="closeOpen()">取消</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(function() {

			});

			function saveInfo() {
				$('#saveBtn', $('#passwordForm')).attr("disabled", "disabled")
				if (validate ()) {
					var formData = $("#passwordForm").serialize()
					postRequest($('#contextDiv').html() + '/user/modifyPwd', formData, function(data) {
						if (data.result) {
							layer.msg('操作成功')
							closeOpen()
						} else {
							layer.msg(data.message)
						}
					})
				} else {
					$('#saveBtn', $('#passwordForm')).removeAttr("disabled")
				}
			}
			function validate () {
				if (!$('#opwd', $('#passwordForm')).val()) {
					layer.msg('请填写原密码')
					$('#opwd', $('#passwordForm')).focus()
					
					return false
				}
				if (!$('#npwd', $('#passwordForm')).val()) {
					layer.msg('请填写新密码')
					$('#npwd', $('#passwordForm')).focus()
					return false
				}
				if (!$('#npwd1', $('#passwordForm')).val()) {
					layer.msg('请确认新密码')
					$('#npwd1', $('#passwordForm')).focus()
					return false
				}
				if ($('#npwd', $('#passwordForm')).val() != $('#npwd1', $('#passwordForm')).val()) {
					layer.msg('再次新密码不致')
					$('#npwd1', $('#passwordForm')).focus()
					return false
				}
				return true
			}
		</script>
	</body>
</html>
