<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div class="page-content">
			<input type="hidden" id="uid" name="uid" th:value="${userInfo?.uid}" />
			<div class="page-header">
				<h4 th:text="'【'+${userInfo?.name}+'】的角色'">
					用户角色
				</h4>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="pull-right btn btn-primary btn-sm" onclick="doSave()">保存</button>
				</div>
				<div class="col-xs-12">
					<ul id="treeRole" class="ztree" style="width:260px; overflow:auto;height: 500px;"></ul>
				</div>
			</div>
		</div>
	<script>
		var basePath = $('#contextDiv').html()
		var settingMenu = {
			view: {
				showLine: false
			},
			check: {
				enable: true,
				chkStyle: "checkbox",
				chkboxType: { "Y": "ps", "N": "ps" }
			},
			data: {
				simpleData: {
				  enable: true
				}
			},
			callback: {
				onClick: nodeClick
			}
		}
		$(function(){
			postRequest(basePath+'/role/all', {state:'1'}, function(response){
				if(response.result && response.data) {
					var zTree = $("#treeRole")
					zTree = $.fn.zTree.init(zTree, settingMenu, response.data);
					postRequest(basePath+'/user/roles/'+$('#uid').val(), {}, function(response1){
						if(response1.result && response1.data) {
							response1.data.forEach(o => {
								var node = zTree.getNodeByParam("rid", o.rid, null)
								if (node) {
									zTree.checkNode(node, true, true)
								}
							})
						}
					})
				}
			})
		});
		function nodeClick (event, treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("treeRole")
			zTree.checkNode(treeNode,!treeNode.checked, true)
		}
		function doSave(){
			var zTree = $.fn.zTree.getZTreeObj("treeRole")
			var chedNodes = zTree.getCheckedNodes(true)
			var params = []
			var param = {}
			chedNodes.forEach(o => {
				param = {}
				param.uid = $('#uid').val()
				param.rid = o.rid
				params.push(param)
			})
			postRequest(basePath+'/user/linkRole/'+$('#uid').val(), {params:JSON.stringify(params)}, function(response1){
				if(response1.result) {
					layer.msg('配置成功',
					{icon: 6,
					time: 2000,
					offset: 'r',
					anim: 1})
				} else {
					layer.msg('保存失败',
					{icon: 5,
					time: 2000,
					offset: 'r', 
					anim: 6
					})
				}
			})
		}
	</script>
	</body>
</html>
