<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<input type="hidden" id="totalRows" th:value="${resInfo?.total}" />
		<tr th:each="supplycontract, state: ${resInfo.list}">
			<td th:text="${state.index + 1}"></td>
			<td th:text="${supplycontract.signDate}"></td>
			<td th:text="${supplycontract.cname?:''}"></td>
			<td th:text="${supplycontract.partya}"></td>
			<td th:text="${supplycontract.partyb}"></td>
			<td th:text="${#strings.isEmpty(supplycontract.deliveryName) ? '无送货单' : '有送货单'}"></td>
			<td th:text="${supplycontract.amount}"></td>
			<td th:text="${supplycontract.payTotal}"></td>
			<td th:text="${supplycontract.unpayTotal}"></td>
			<td th:text="${#strings.equals(supplycontract.isPayoff, '0') ? '未结清' : '已结清'}"></td>
			<td>
				<button class="btn btn-minier btn-primary" th:onclick="showDetail(this, [[${supplycontract.scid}]])">查看</button>&nbsp;
				<button class="btn btn-minier btn-light" th:onclick="delSupplycontract([[${supplycontract.scid}]])">删除</button>&nbsp;
			</td>
		</tr>
	</body>
</html>
