<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>竞标参与方登记</title>
	</head>
	<body>
		<div class="page-content" style="margin-bottom: 50pxmin-height: 250px">
			<div class="row">
				<div class="col-xs-12">
					<form id="bidderForm" class="form-horizontal" method="post">
						<input type="hidden" id="oid" name="oid" th:value="${bidder?.oid}" />
						<input type="hidden" id="bid" name="bid" th:value="${bidder?.bid}" />
						<input type="hidden" id="annexName" name="annexName" th:value="${bidder?.annexName}" />
						<input type="hidden" id="annexPath" name="annexPath" th:value="${bidder?.annexPath}" />
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="corporateId">竞标参与方:</label>
							<div class="col-sm-8">
								<select id="corporateId" name="corporateId" class="form-control">
									<option value=""></option>
									<option th:each="corp : ${corporates}" th:value="${corp.cid}" th:text="${corp.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="bidAmount">总价:</label>
							<div class="col-sm-8">
								<input type="text" id="total" name="total" placeholder="" class="form-control"
								 oninput="value=value.replace(/[^0-9\.]/g,'')"
								 autocomplete="off" maxlength="17" />
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="detail">明细:</label>
							<div class="col-sm-8">
								<textarea id="detail" name="detail" rows="4" class="form-control" th:text="${bidder?.detail}"></textarea>
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="business">报价明细:</label>
							<div class="col-sm-8">
								<input id="attachment" name="attachment" type="file" class=""
								 accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
								 onclick="this.value=null"> 
								<div id="files"></div>
							</div>
						</div>
						<div th:if="${bidder.annexName}" class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for=""></label>
							<div class="col-sm-8">
								已上传报价明细：<span th:text="${bidder.annexName}"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="remark">备注:</label>
							<div class="col-sm-8">
								<textarea id="remark" name="remark" class="form-control" th:text="${bidder?.remark}"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footBtn">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="9">
						<button id="saveBtn" class="btn btn-primary btn-sm" onclick="saveBidder()">保存</button>&nbsp&nbsp&nbsp
						<button class="btn btn-white btn-default" onclick="closeSubWindow()">取消</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(function() {
			})
			function saveBidder() {
				if (validate ()) {
					$('#saveBtn', $('#bidderForm')).attr("disabled", "disabled")
					var formData = new FormData(document.getElementById("bidderForm"));
					$.ajax({
						url: $('#contextDiv').html() + '/bidder/update',
						type: "post",
						data: formData,
						cache: false,
						processData: false,
						contentType: false,
						success: function(data) {
							if (data.result) {
								layer.msg('操作成功')
								closeSubWindow()
								loadBidders($('#oid').val())
							} else {
								layer.msg(data.message)
							}
						},
						error: function(e) {
							layer.msg("网络错误，请重试！！")
						}
					})
				}
			}
			function validate() {
				if (!$('#corporateId', $('#bidderForm')).val()) {
					layer.msg('请选择竞标方')
					$('#corporateId', $('#bidderForm')).focus()
					return false
				}
				if (!$('#total', $('#bidderForm')).val()) {
					layer.msg('请填写总价')
					$('#total', $('#bidderForm')).focus()
					return false
				}
				return true
			}
		</script>
	</body>
</html>
