<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8">
		<title>投标保证金</title>
	</head>
	<body>
		<input type="hidden" id="totalRows" th:value="${resInfo?.total}" />
		<tr th:each="depo, state: ${resInfo.list}">
			<td th:text="${state.index+1}"></td>
			<td th:text="${depo.orderInfo?.projectName}"></td>
			<td th:text="${depo.payerName}"></td>
			<td th:text="${depo.providerName}"></td>
			<td th:text="${depo.amount}"></td>
			<td th:text="${depo.payDate}"></td>
			<td th:text="${#strings.equals(depo.isBack, '0') ? '未收回' : '已收回'}"></td>
			<td th:text="${depo.backDate}"></td>
			<td>
				<button th:onclick="toDeposit([[${depo?.oid}]], [[${depo?.did}]])" class="btn btn-info btn-mini">修改</button>
				<!-- <button th:onclick="delDeposit([[${depo?.oid}]], [[${depo?.did}]])" class="btn btn-white btn-danger btn-mini">删除</button> -->
			</td>
		</tr>
	</body>
</html>
